{% extends "base.html.twig" %}

{% block title %}My Services{% endblock %}

{% block content %}
<div class="row clearfix">
    <div class="col-md-10 column">
        <h1>My Services</h1>

        <div class="jumbotron">
            <p>
                <strong>Business name:</strong> {{ service.business }}
            </p>
            <p>
                <strong>Postcode:</strong> {{ service.postcode }}
            </p>
            <p>
                <strong>Type:</strong> {{ service.type }}
            </p>
            <p>
                <strong>Details:</strong> {{ service.details }}
            </p>
            <div class="col-sm-2">
                <a class="btn btn-success btn-large" href="index.php?uri=addservice">Update Details</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
