{% extends "base.html.twig" %}

{% block title %}My Services{% endblock %}

{% block content %}
<div class="row clearfix">
    <div class="col-md-10 column">
        <h1>My Services</h1>

        <div class="jumbotron">
            <div class="col-sm-2 col-sm-offset-2 col-xs-1 col-xs-offset-4">
                <a class="btn btn-success btn-large" href="index.php?uri=addservice">Create New Post</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
