{% extends "base.html.twig" %}

{% block title %}Update Service Details{% endblock %}

{% block content %}
    <div class="row clearfix">
        <div class="col-md-10 column">
            <h1>Update Service Details</h1>

            <div class="jumbotron">
                Update
            </div>
        </div>
    </div>
{% endblock %}
