{% extends "base.html.twig" %}

{% block title %}Verify Account{% endblock %}

{% block content %}
<div class="row clearfix">
    <div class="col-md-10 column">
        <h1>Verify Account</h1>
    </div>
    <div class="col-md-10 column">
        <div class="jumbotron">
            {# JS errors #}
            <div class="alert alert-danger hidden" id="errors"></div>

            {# PHP errors #}
            {% autoescape false %}
            {% if not errorsAll is empty %}
                <div class="alert alert-danger">
                    <ul>
                {% for errors in errorsAll %}
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
                    </ul>
                </div>
            {% endif %}
            {% endautoescape %}

            {# Display info #}
            {% if displayInfo %}
                <div class="alert alert-warning">
                    Your sitter's account was successfully created, however it is inactivate. We have sent you activation code to your email address (<strong>{{ email }}</strong>).
                </div>
            {% endif %}

            {# Verify form #}
            <form class="form-horizontal" method="post" action="index.php?uri=verify">
                <div class="form-group">
                    <label for="code" class="col-sm-2 control-label">Code</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="code" name="code" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <p><button type="submit" class="btn btn-default" id="submit">Verify Account</button></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        // Validate form
        var checkRun = false;
        $("#submit").on("click", function(event) {
            validate(event, 'validate-verify');
        });
    </script>
{% endblock %}
