<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>{% block title %}{% endblock %} - Greenwich Sitters</title>
    <link rel="stylesheet" href="assets/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/bootstrap/dist/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="styles.css" />
</head>
<body>
    <div id="cookie_assistant_container"></div>

    <div class="container">
        <div class="row clearfix">
            <div class="col-md-10 column">
                <div class="navbar navbar-default">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="./">Greenwich Sitters</a>
                    </div>

                    <div class="navbar-header navbar-right">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="index.php?uri=search">Search Services</a>
                            </li>
                            {# Logged in user #}
                            {% if user is not empty and user.active == '1' %}
                            <li>
                                <a href="index.php?uri=services">My Services</a>
                            </li>
                            <li>
                                <a href="index.php?uri=logout" id="logout">Logout [ {{ user.username }} ]</a>
                            </li>
                            {% else %}
                            {# Anonymous user #}
                            <li>
                                <a href="index.php?uri=login">Sign In</a>
                            </li>
                            <li>
                                <a href="index.php?uri=registration">Register</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        {% block content %}{% endblock %}

        <div class="col-md-10 column">
            <p>&#169; Copyright 2014. <a href="./">Greenwich Sitters</a>.</p>
        </div>
    </div>

    <script type="text/javascript" src="assets/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="assets/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="assets/jquery-confirm/jquery.confirm.min.js"></script>
    <script type="text/javascript" src="scripts.js"></script>
    <script type="text/javascript" src="http://app.cookieassistant.com/widget.js?token=BSivwaOedvH7JknC5tJ93Q"></script>

    <script type="text/javascript">
        // Confirm logout
        $("#logout").confirm({
            text: "Are you sure you want to logout?",
            title: "Confirmation required"
        });
    </script>

    {% block javascript %}{% endblock %}
</body>
</html>
