<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <title>{% block title %}{% endblock %} - Sitters Royal Borough of Greenwich</title>
    <link rel="stylesheet" href="assets/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/bootstrap/dist/css/bootstrap-theme.min.css">
    {% endblock %}
</head>
<body>
    <div class="container">
        {% block content %}{% endblock %}

        <div class="col-md-10 column">
            <p>&copy; Copyright 2014. Royal Borough of Greenwich.</p>
        </div>
    </div>

    <script type="text/javascript" src="assets/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="assets/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>

