{% extends "base.html.twig" %}

{% block title %}Cookie Policy{% endblock %}

{% block content %}
    <div class="row clearfix">
        <div class="col-md-10 column">
            <div class="jumbotron">
                <h1>Cookies</h1>
                <p>To make this site work properly, we sometimes place small data files called cookies on your device. Most big websites do this too.</p>

                <h2>What are cookies?</h2>
                <p>A cookie is a small text file that a website saves on your computer or mobile device when you visit the site. It enables the website to remember your actions and preferences (such as login, language, font size and other display preferences) over a period of time, so you don’t have to keep re-entering them whenever you come back to the site or browse from one page to another.</p>

                <h2>How do we use cookies?</h2>
                <p>There are several types of cookies stored on our website, some of which are necessary for the functioning of the system and some to solely enhance your user experience:</p>
                <ul>
                    <li>PHP session cookie is used to enable some basic functionality such as authentication</li>
                    <li>Analytics cookie to get traffic analytics by collecting anonymous data</li>
                    <li>Remembering login name information for your convenience when visiting in the future</li>
                    <li>Remembering if you have agreed to cookie consent</li>
                </ul>
                <p>Enabling these cookies is not strictly necessary for the website to work but it will provide you with a better browsing experience. You can delete or block these cookies, but if you do that some features of this site may not work as intended.</p>
                <p>The cookie-related information is not used to identify you personally and the pattern data is fully under our control. These cookies are not used for any purpose other than those described here.</p>

                <h2>How to control cookies</h2>
                <p>You can control and/or delete cookies as you wish – for details, see aboutcookies.org. You can delete all cookies that are already on your computer and you can set most browsers to prevent them from being placed. If you do this, however, you may have to manually adjust some preferences every time you visit a site and some services and functionalities may not work.</p>
            </div>
        </div>
    </div>
{% endblock %}
